<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foolishfan.user_v10">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DAWN"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".User"
            android:label="个人中心"/>
        <activity android:name=".Register"
            android:label="用户注册"/>
        <activity android:name=".Resetpwd"
            android:label="密码修改"></activity>
    </application>

</manifest>